body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 !important;
  background-color: #E5E5F7;
  background: linear-gradient(135deg, #d5d5ed55 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(225deg, #d5d5ed 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(315deg, #d5d5ed55 25%, transparent 25%) 0px 0/ 40px 40px, linear-gradient(45deg, #d5d5ed 25%, #E5E5F7 25%) 0px 0/ 40px 40px;
}

.ant-col {
  margin-top: 15px;
}